<!DOCTYPE html>
<html>

<head>
    <title>TakInfo</title>

    <% include ../partials/head.ejs%>
</head>
<body ng-app>
<header>
<% include ../partials/header.ejs%>
</header>
<p class="text-center text-muted">© Copyright 2016 TankInfo</p>
</body>
</html>
